@font-face {
	font-family: 'Futura LT';
	src: url('FuturaLT-Bold.eot');
	src: url('FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
		url('FuturaLT-Bold.woff') format('woff'),
		url('FuturaLT-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Arvo';
	src: url('Arvo-Italic.eot');
	src: url('Arvo-Italic.eot?#iefix') format('embedded-opentype'),
		url('Arvo-Italic.woff') format('woff'),
		url('Arvo-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Arvo';
	src: url('Arvo.eot');
	src: url('Arvo.eot?#iefix') format('embedded-opentype'),
		url('Arvo.woff') format('woff'),
		url('Arvo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arvo';
	src: url('Arvo-Bold.eot');
	src: url('Arvo-Bold.eot?#iefix') format('embedded-opentype'),
		url('Arvo-Bold.woff') format('woff'),
		url('Arvo-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Arvo';
	src: url('Arvo-BoldItalic.eot');
	src: url('Arvo-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Arvo-BoldItalic.woff') format('woff'),
		url('Arvo-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
